.App {
  text-align: center;
  color:balck;
  background-color:rgb(89, 165, 228);
  font-family: Verdana, Tahoma, sans-serif;
}
.container{
  padding-top: 2%;
  width:90%;
  margin: 0px auto;
  border-radius: 2em;
}
.btnAnswer {
    width: 50%;
    font-size: 2vw;
    margin: 1% auto;
    color: white;
    background-color: grey;
    font-family: verdana;
    border-radius: 1px;
}

.btnAnswer:hover {
    color: black;
    opacity: 0.7;
}

.scoreWrap {
    margin: 1% auto;
    background: #cfcbcb;
}
.correct , .incorrect{
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
}
.correct{
  color:green;
}
.incorrect{
  color:red;
}
.greeting{
  font-size: 2vw;
}

.pass , .fail{
  color:white;
  font-size: 3vw;
  padding:20px;
  margin: 10px;
}

.pass{
  background-color: green;
}
.fail{
  background-color: red;
}
